body
{
    background-color: black;
}
.title
{
    text-align: center;
}
.div1
{
    border: 20px solid rgb(24, 34, 87);
    margin-top: 15px;;
    border-radius:50px;
    display: none;
    /* border-top: none;
    border-left: none;
    border-right: none; */
}
h1
{
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing:5px;
}
#sel
{
    margin:20px 50px 0px 550px;
    width: 150px;;
    display: inline-block;
}
.main-select
{
    width:190px;
    height: 50px !important;
    background-color: white;
    color: black;
    height:40px;
    border-top-left-radius: 15px;
    font-weight: bold;
    font-size:15px;
    border: 5px solid  green;
}
.main-select:focus
{
    outline:none;
}
.add-btn
{
    display:inline-block;
    margin-left: 20px;
    height: 50px;
    width:170px;
    background-color: green;
    font-weight:bold;
    letter-spacing:1px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    color: white;
    transform: translateY(-6px);
    cursor: pointer;
    position:relative;
    top: 5px;
    
}
.add-btn:hover
{
    transform: translateY(-10px);
    transition:0.4s;
}
.add-btn:active
{
    transform: translateY(-3px);
}
.add-btn-2
{
    position: relative;
    top: 24px;
    right: 173px;
    height: 50px;
    width:170px;
    background-color: rgb(10, 85, 10);
    font-weight:bold;
    letter-spacing:1px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    color: white;
    z-index: -1;
}


.tf-new
{
    position: absolute;
    top: 10px;
    left: 250px;
    width:20%;
    height: 40px;
    background-color: gray;
    border-radius:50px;
    border: 5px solid purple;
    color: white;
    font-weight:bold;
    font-size:15px;
}
.tf-new:focus
{
    outline-style: none;
    background-color:purple
}

.tf-new::placeholder
{
    color: white;
    
}
.tf-label
{
    margin-left: 300px;
    position: absolute;
    top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    letter-spacing:2px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.done-btn
{
    background-color: white;
    height:50px;
    width: 110px;
    border-radius:50px;
    margin-left: 415px;
    margin-top: -9px;
    z-index: 99;
    border: 5px solid purple;
    font-weight: bold;
    
}
.done-btn:hover
{
    margin-left:460px;
    transition:0.4s;
}
.input-text-2
{
    position: absolute;
    left: 750px;
    top: 10px;
    background-color: gray;
    width:20%;
    height: 40px;
    border: 5px solid purple;
    border-radius:50px;
    
    color: white;
    font-size:15px;
    font-weight:bold;
}
.input-text-2:focus
{
    outline-style: none;
    background-color: purple;
}
.input-text-2::placeholder
{
    color: white;
}
.close-btn
{
    background-color:red;
    position: absolute;
    right:160px;
    top: 10px;
    height:40px;
    border-radius:100px;
    color: white;
    font-weight: bold;
    border: none;
    height:40px;
    width: 40px;

}
.div-textfield i.fa
{
    color: white;
    font-size: 20px;
}
.div-textfield .close-btn .fa:hover
{
    color: white;
    font-size: 25px;
    
}
.div-textfield
{
    
    padding: 20px;
    position: relative;
    margin-top: 40px;
    padding-bottom: 65px;
    width: 1200px;
    margin-left:100px;
}
/* ======================FOR SECOND INPUT============== */
.nf-new
{
    /* margin-left:270px;
    margin-top: 100px; */
    position: absolute;
    top: 20px;
    left: 250px;
    width:20%;
    height: 40px;
    background-color: gray;
    border: 5px solid purple;
    border-radius:50px;
    
    color: white;
    font-weight:bold;
    font-size:15px;
}
.nf-new:focus
{
    outline-style: none;
    background-color: purple;
}
.nf-new::placeholder
{
    color: white;
}
.close-btn2
{
    background-color:red;
    position: absolute;
    right:160px;
    top: 20px;
    height:40px;
    border-radius:50px;
    color: white;
    font-weight: bold;
    height:40px;
    width: 40px;
    border: none;
    
}
.close-btn2 i.fa
{
    font-size:20px;
}
.close-btn2 i.fa:hover
{
    font-size:25px;
}
.nf-label
{
    margin-left: 300px;
    position: absolute;
    top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

}
.done-btn-2
{
    background-color: white;
    height:50px;
    width: 110px;
    border-radius:50px;
    border: 5px solid purple;
    margin-left: 415px;
    font-weight: bold;
    z-index: -1;
}
.done-btn-2:hover
{
    margin-left:460px;
    transition:0.4s;
}
.input-text-3
{
    position: absolute;
    left: 750px;
    top: 20px;
    background-color: gray;
    border: 5px solid purple;
    width:20%;
    height: 40px;
    border-radius:50px;
    
    color: white;
    font-size:15px;
    font-weight:bold;
}
.input-text-3:focus
{
    outline-style: none;
    border: 5px solid purple;
}
.input-text-3::placeholder
{
    color: white;
}
.div-numfield
{
    border-bottom: 1px solid black;
    position: relative;
    padding:20px;
    padding-bottom: 75px;
    width:1200px;
    margin-left: 100px;

   
}
/* ======================FOR THIRD INPUT============== */
.ef-new
{
    position: absolute;
    left:250px;
    width:20%;
    height: 40px;
    background-color: gray;
    border: 5px solid purple;
    border-radius:50px;
    
    color: white;
    font-weight:bold;
    font-size:15px;
}
.ef-new:focus
{
    outline-style: none;
    background-color:purple;
}
.ef-new::placeholder
{
    color: white;
}
.close-btn3
{
    background-color:red;
    position: absolute;
    right:160px;
    top: 15px;
    height:40px;
    border-radius:50px;
    color: white;
    font-weight: bold;
    height:40px;
    width:40px;
    border: none;
}
.close-btn3 i.fa
{
    font-size:20px
}
.close-btn3 i.fa:hover
{
    font-size:25px
}
.ef-label
{
    color: white;
    margin-left: 300px;
    margin-top: 15px;
    position: absolute;
    top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.done-btn-3
{
    background-color: white;
    height:50px;
    width: 110px;
    border-radius:50px;
    margin-left: 415px;
    border:5px solid purple;
    font-weight:bold;
}
.done-btn-3:hover
{
    margin-left:460px;
    transition:0.4s;
    
}
.input-text-4
{
    position: absolute;
    left: 750px;
    top: 17px;
    background-color: gray;
    border: 5px solid purple;
    width:20%;
    height: 40px;
    border-radius:50px;
    
    color: white;
    font-size:15px;
    font-weight:bold;
}
.input-text-4:focus
{
    outline-style: none;
    background-color: purple;
}
.input-text-4::placeholder
{
    color:white;
}
.div-emailfield
{
    border-bottom: 1px solid black;
    position: relative;
    padding:20px;
    padding-bottom: 75px;
    width:1200px;
    margin-left: 100px;

  
    
}
/* ====================RADIO============== */
.rf-new
{
   
    width:20%;
    height: 40px;
    background-color: gray;
    border: 5px solid purple;
    border-radius:50px;
    
    color: white;
    font-weight:bold;
    font-size:15px;
    position: absolute;
    left: 250px;
    top: 20px;
}
.rf-new:focus
{
    outline-style: none;
    background-color: purple;
}
.rf-new::placeholder
{
    color: white;
}
.close-btn4
{
    background-color:red;
    position: absolute;
    right:50px;
    top: 20px;
    height:40px;
    border-radius:50px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border: none;
}
.close-btn4 i.fa
{
    font-size:20px;
}
.close-btn4 i.fa:hover
{
    font-size:25px
}

.rf-label-1
{
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 35px;
    left: 320px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.done-btn-4
{
    background-color: white;
    height:50px;
    width: 110px;
    border-radius:50px;
    margin-right: 250px;
    font-weight: bold;
    border: 5px solid purple;
}
.done-btn-4:hover
{
    margin-right:170px;
    transition:0.4s;
}
.input-text-5
{
    position: absolute;
    left: 750px;
    top: 20px;
    background-color: gray;
    border: 5px solid purple;
    width:20%;
    height: 40px;
    border-radius:50px;
    
    color: white;
    font-size:15px;
    font-weight:bold;
}
.input-text-5:focus
{
    outline-style: none;
    background-color:gray;
}
.input-text-5::placeholder
{
    color:white;
}
.rd-add-btn
{
    background-color: white;
    height:50px;
    width: 110px;
    border-radius:50px;
    position: absolute;
    top: 20px;
    left: 1020px;
    font-weight: bold;
    border: 5px solid purple;
    
    
}
.rd-add-btn:hover
{
    /* left: 1050px; */
    margin: left 850px;
    transition:0.4s;
}
.rd-button-1
{
    margin-top: 20px;
    cursor: pointer;
}
.rd-span
{
    /* position: absolute;
    top: 15px;
    left: 390px; */
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing:1px;
}
.div-radio
{
    border-bottom: 1px solid black;
    padding:20px;
    position: relative;
    display: flex;
    padding-bottom: 70px;
    justify-content: center;
    align-items: center;
    width:1200px;
    margin-left: 100px;
}

/* ===============SELECT========== */
.input-sel-label
{
   
    width:20%;
    height: 40px;
    background-color: gray;
    border: 5px solid purple;
    border-radius:50px;
    
    color: white;
    font-weight:bold;
    font-size:15px;
    position: absolute;
    left: 250px;
    top: 20px;
}
.input-sel-label:focus
{
    outline-style: none;
    background-color:purple;
}
.input-sel-label::placeholder
{
    color: white;
}
.input-sel-add1
{
    background-color: white;
    height:50px;
    width: 110px;
    border-radius:50px;
    /* position: absolute;
    top: 20px;
    left: 600px; */
    margin-left: 415px;
    border: 5px solid purple;
    font-weight: bold;
}
.input-sel-add1:hover
{
    margin-left:460px;
    transition:0.4s;
}
.input-select
{
    position: absolute;
    left: 755px;
    top: 20px;
    background-color: gray;
    border: 5px solid purple;
    width:20%;
    height: 40px;
    border-radius:50px;
    height:50px;
    color: white;
    font-size:15px;
    font-weight:bold;
    text-transform: uppercase;
}
.input-select:focus
{
    outline-style: none;
    background-color:purple;
}

.input-select::placeholder
{
    color:white;
}
.input-sel-add2
{
    background-color: white;
    height:50px;
    width: 110px;
    border-radius:50px;
    position: absolute;
    top: 20px;
    left: 1020px;
    border: 5px solid purple;
    font-weight: bold;
}
.input-option
{
    position: absolute;
    left: 755px;
    top: 75px;
    background-color: gray;
    border: 5px solid purple;
    width:19%;
    height: 40px;
    border-radius:50px;
    text-transform: capitalize;
    color: white;
    font-size:15px;
    font-weight:bold;
}
.input-option:focus
{
    background-color:purple;
    outline-style: none;
}
.input-option::placeholder
{
    color:white;
}
.remove-sel-btn
{
    background-color:red;
    position: absolute;
    right:50px;
    top: 22px;
    height:40px;
    border-radius:50px;
    color: white;
    font-weight: bold;
    height:40px;
    width:40px;
    border:none;
}
.remove-sel-btn i.fa
{
    font-size:20px;
}
.remove-sel-btn i.fa:hover
{
    font-size:25px;
}
.sel-label-1
{
    position: absolute;
    top: 40px;
    left: 320px;
    font-size:18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.div-select
{
    border-bottom: 1px solid black;
    padding:20px;
    position: relative;
    display: flex;
    padding-bottom: 130px;
    /* padding-left: 400px; */
    width:1200px;
    margin-left:100px;
}
/* =============CHECKBOX================= */
.input-cb-label
{
   
    width:15%;
    height: 40px;
    background-color: gray;
    border: 5px solid purple;
    border-radius:50px;
    
    color: white;
    font-weight:bold;
    font-size:15px;
    position: absolute;
    left: 250px;
    top: 20px;
}
.input-cb-label:focus
{
    outline-style: none;
    background-color:purple;
}
.input-cb-label::placeholder
{
    color: white;
}
.input-cb-add1
{
    background-color: white;
    height:50px;
    width: 110px;
    border-radius:50px;
    margin-right: 20px;
    margin-left: 70px;
    border: 5px solid purple;
    font-weight: bold;
    /* position: absolute;
    top: 10px;
    left: 640px; */
}

.input-cb-option
{
    /* position: absolute;
    left: 755px;
    top: 10px; */
    background-color: gray;
    border: 5px solid purple;
    width:20%;
    height: 40px;
    border-radius:50px;
    
    color: white;
    font-size:15px;
    font-weight:bold;
}
.input-cb-option:focus
{
    outline-style: none;
    background-color:purple;
}

.input-cb-add2
{
    background-color: white;
    height:50px;
    width: 110px;
    border-radius:50px;
    position: absolute;
    top: 20px;
    left: 1020px;
    border: 5px solid purple;
    font-weight: bold;
}
.input-cb-remove
{
    background-color:red;
    position: absolute;
    right: 50px;
    top: 20px;
    height:40px;
    border-radius:50px;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 40px;
}
.input-cb-remove i.fa
{
    font-size:20px
}
.input-cb-remove i.fa:hover
{
    font-size:25px
}
.cb-label-1
{
    position: absolute;
    top: 30px;
    left: 120px;
    font-size:18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.cb-span
{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.div-cb
{
    border-bottom: 1px solid black;
    padding:20px;
    position: relative;
    display: flex;
    /* padding-bottom: 80px; */
    justify-content: center;
    align-items: center;
    width:1200px;
    margin-left: 100px;
}
/* ==============SUBMIT-1============== */

.div-sub
{
    
    padding:20px;
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sub-btn
{
    height:40px;
    width:150px;
    color: white;
    background-color: blue;
    border-radius:50px;
    border: none;
    font-size: 15px;
    font-weight:bold;
}
.sub-btn:hover
{
    background-color:green;
    
}
.form2-title
{
    color: white;
    text-align: center;
    display: none;
}
#text_field
{
    color: white;
    font-size:20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.div-2
{
    border: 5px solid aquamarine;
}
.form2
{
    border: 20px solid yellow;
    border-radius:50px;
    display: none;
    
}
.final-sub-btn
{
    height:40px;
    width:150px;
    color: white;
    background-color: blue;
    border-radius:50px;
    border: none;
    font-size: 15px;
    font-weight:bold;
    margin-left: 650px;
    display:none;
    position: relative;
    top: -80px;
    
}
.final-sub-btn:hover
{
    background-color:green;
}
.form3-title
{
    visibility: hidden;
    text-align: center;
    
    
}
.form3
{
    border: 20px solid green;
    border-radius:50px;
    display: none;
}
p
{
    color: white;
    margin-right: 20px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing:1px;
    font-size: 18px;
}
.tf-div
{
    display:flex !important;
    justify-content: center;
    align-items: center;
}

